li {
  list-style: none;
  padding: 10px;
}


ul {
  margin: 0px;
  padding: 0px;
}

ul li a:hover {
  cursor: pointer;
}

.row {
background-color: white;
}

.col-form-title {
  text-align: center;
}

.col {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 45px;
    background: #ffffff;
    border-radius: 20px;
}

.btn {
  color: #ffffff;
  background-color: rgb(43, 3, 80);
}

.col-form-title {
  color: rgb(43, 3, 80);
}
